
@{
    ViewData["Title"] = "Index";
}
@model Ispit_2017_09_11_DotnetCore.ViewModels.OdjeljenjeIndexVM
<h2>Index</h2>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Skolska godina</th>
        <th>Razred(od 1 do 4)</th>
        <th>Oznaka</th>
        <th>Razrednik</th>
        <th>Prebaceni u visi razred(odjeljenje)</th>
        <th>Akcija</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var x in Model.Rows)
    {
        <tr>
            <td>@x.SkolskaGodina</td>
            <td>@x.Razred</td>
            <td>@x.Oznaka</td>
            <td>@x.Razrednik</td>
            <td>@(x.Prebacen?"da":"ne")</td>

            <td>
                <a asp-action="obrisi" class="btn btn-primary" asp-route-OdjeljenjeID="@x.OdjeljenjeID">obrisi</a>
                <a asp-action="detalji" class="btn btn-primary" asp-route-OdjeljenjeID="@x.OdjeljenjeID">detalji</a>

            </td>
        </tr>
    }
    </tbody>
</table>